# Exploración de los datos salariales del Municipio de Durán-Ecuador.

Una forma de entender cómo funciona el gobierno de una ciudad es observar a quién emplea y cómo se compensa a sus empleados. Estos datos contienen los nombres, el cargo y la compensación de los empleados del Municipio de Duran desde 2015 hasta 2022.

## Librerías

In [237]:
import pandas as pd

## Data

In [238]:
columnas = ['secuencial', 'identificacion', 'nombre', 'puesto', 'regimen', 'partida_presupuestaria', 'grado_de_puesto', 'salario_mensual', 'salario_anual', 'decimo_tercera', 'decimo_cuarta', 'horas_suplementarias', 'subrogaciones', 'total_ingresos_adicionales', 'anio', 'mes']
df_salarios = pd.read_csv('./dataset/salaries.csv', names=columnas, low_memory=False)

Verificamos los primeros registros del dataframe.

In [239]:
df_salarios.head()

,secuencial,identificacion,nombre,puesto,regimen,partida_presupuestaria,grado_de_puesto,salario_mensual,salario_anual,decimo_tercera,decimo_cuarta,horas_suplementarias,subrogaciones,total_ingresos_adicionales,anio,mes
0,1,NaN,Abad Dumas Hernan Rodrigo,Soldador,COD_TRABAJO,1.111511e+09,COD_TRABAJO,548.0,6576.0,0.0,0.0,0.0,0.0,0.0,2015,abril
1,2,NaN,Acosta Caicedo Dennis Josue,Aseador de Calle,COD_TRABAJO,3.504711e+09,COD_TRABAJO,420.0,5040.0,0.0,0.0,460.39,0.0,0.0,2015,abril
2,3,NaN,Acosta Hernandez Manuel de Jesus,Aseador de Calle,COD_TRABAJO,3.504711e+09,COD_TRABAJO,420.0,5040.0,0.0,0.0,393.3,0.0,0.0,2015,abril
3,4,NaN,Aguayo Macias Maria Isabel,Asistente Tecnico,LOSEP,1.106510e+09,SPA2,622.0,7464.0,0.0,0.0,0.0,0.0,0.0,2015,abril
4,5,NaN,Aguilar Yagual Karla Mabel,Asistente,Losep,1.101511e+09,SP1,817.0,9804.0,0.0,0.0,0.0,0.0,0.0,2015,abril

## Limpieza de datos

En un nuevo dataframe seleccionaremos los campos que nos interesan para nuestro análisis.

In [240]:
df_salarios = df_salarios[['nombre', 'puesto', 'salario_mensual', 'salario_anual', 'total_ingresos_adicionales', 'mes', 'anio']]
df_salarios.head()

,nombre,puesto,salario_mensual,salario_anual,total_ingresos_adicionales,mes,anio
0,Abad Dumas Hernan Rodrigo,Soldador,548.0,6576.0,0.0,abril,2015
1,Acosta Caicedo Dennis Josue,Aseador de Calle,420.0,5040.0,0.0,abril,2015
2,Acosta Hernandez Manuel de Jesus,Aseador de Calle,420.0,5040.0,0.0,abril,2015
3,Aguayo Macias Maria Isabel,Asistente Tecnico,622.0,7464.0,0.0,abril,2015
4,Aguilar Yagual Karla Mabel,Asistente,817.0,9804.0,0.0,abril,2015

In [241]:
df_salarios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87749 entries, 0 to 87748
Data columns (total 7 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   nombre                      87749 non-null  object
 1   puesto                      87749 non-null  object
 2   salario_mensual             87749 non-null  float64
 3   salario_anual               87749 non-null  float64
 4   total_ingresos_adicionales  81098 non-null  float64
 5   mes                         87749 non-null  object
 6   anio                        87749 non-null  int64
dtypes: float64(3), int64(1), object(3)
memory usage: 4.7+ MB

Estandarizamos textos de campo puesto

In [242]:
df_salarios['puesto'] = df_salarios['puesto'].str.title()

Existen descripciones de puestos de trabajos que deberían unificarse.

In [243]:
df_salarios['puesto'].value_counts().sort_index().head(20)

Abogada                            92
Abogado                           188
Administrador                     459
Administrador  De Canchas          13
Administrador De                   58
Administrador De Canchas            3
Administrador De Cementer           7
Administradora (Cac)                4
Administradora (Cau)                9
Administradora Bi                  27
Administradora Biblioteca          28
Agente De Contro                  624
Agente De Control               11905
Aistente De Archiv                 21
Albañil                           581
Alcalde                            32
Alcaldesa                          53
Anal. Financiero                   25
Analista                         1917
Analista Comunicación Social        1
Name: puesto, dtype: int64

In [244]:
df_salarios['puesto'] = df_salarios['puesto'].replace('Abogada', 'Abogado')
df_salarios['puesto'] = df_salarios['puesto'].replace('Administrador  De Canchas', 'Administrador')
df_salarios['puesto'] = df_salarios['puesto'].replace('Administrador De', 'Administrador')
df_salarios['puesto'] = df_salarios['puesto'].replace('Administrador De Canchas', 'Administrador')
df_salarios['puesto'] = df_salarios['puesto'].replace('Administrador De Cementer', 'Administrador')
df_salarios['puesto'] = df_salarios['puesto'].replace('Administradora (Cac)', 'Administrador')
df_salarios['puesto'] = df_salarios['puesto'].replace('Administradora (Cau)', 'Administrador')
df_salarios['puesto'] = df_salarios['puesto'].replace('Administradora Bi', 'Administrador')
df_salarios['puesto'] = df_salarios['puesto'].replace('Administradora Biblioteca', 'Administrador')
df_salarios['puesto'] = df_salarios['puesto'].replace('Agente De Contro', 'Agente De Control')
df_salarios['puesto'] = df_salarios['puesto'].replace('Aistente De Archiv', 'Asistente')
df_salarios['puesto'] = df_salarios['puesto'].replace('Alcaldesa', 'Alcalde')
df_salarios['puesto'] = df_salarios['puesto'].replace('Anal. Financiero', 'Analista')
df_salarios['puesto'] = df_salarios['puesto'].replace('Analista Comunicación Social', 'Analista')
df_salarios['puesto'] = df_salarios['puesto'].replace('Analista Contable', 'Analista')
df_salarios['puesto'] = df_salarios['puesto'].replace('Analista De Bienes', 'Analista')
df_salarios['puesto'] = df_salarios['puesto'].replace('Analista De Compras', 'Analista')
df_salarios['puesto'] = df_salarios['puesto'].replace('Analista De Comunicación S', 'Analista')
df_salarios['puesto'] = df_salarios['puesto'].replace('Analista De Comunicación Social', 'Analista')
df_salarios['puesto'] = df_salarios['puesto'].replace('Analista De Costo', 'Analista')
df_salarios['puesto'] = df_salarios['puesto'].replace('Analista De Gestión', 'Analista')
df_salarios['puesto'] = df_salarios['puesto'].replace('Analista De Resolu', 'Analista')
df_salarios['puesto'] = df_salarios['puesto'].replace('Analista De Resoluciones', 'Analista')
df_salarios['puesto'] = df_salarios['puesto'].replace('Analista De Seguri', 'Analista')
df_salarios['puesto'] = df_salarios['puesto'].replace('Analista De Titulos Habilitan', 'Analista')
df_salarios['puesto'] = df_salarios['puesto'].replace('Analista De Titulos Habilitantes', 'Analista')
df_salarios['puesto'] = df_salarios['puesto'].replace('Analista Financier', 'Analista')
df_salarios['puesto'] = df_salarios['puesto'].replace('Analista Financiero', 'Analista')
df_salarios['puesto'] = df_salarios['puesto'].replace('Analista Juridico', 'Analista')
df_salarios['puesto'] = df_salarios['puesto'].replace('Analista Legal', 'Analista')
df_salarios['puesto'] = df_salarios['puesto'].replace('Analista Senior', 'Analista')
df_salarios['puesto'] = df_salarios['puesto'].replace('Analista Tecnico', 'Analista')
df_salarios['puesto'] = df_salarios['puesto'].replace('Analista Tecnico  D', 'Analista')
df_salarios['puesto'] = df_salarios['puesto'].replace('Analista Tecnico  De Inspecc', 'Analista')
df_salarios['puesto'] = df_salarios['puesto'].replace('Analista Tecnico  De Inspecciones', 'Analista')
df_salarios['puesto'] = df_salarios['puesto'].replace('Analista Tecnico D', 'Analista')
df_salarios['puesto'] = df_salarios['puesto'].replace('Analista Técnico', 'Analista')
df_salarios['puesto'] = df_salarios['puesto'].replace('Analista Técnico D', 'Analista')
df_salarios['puesto'] = df_salarios['puesto'].replace('Aseador De Calle', 'Analista')
df_salarios['puesto'] = df_salarios['puesto'].replace('Asesor Legal', 'Asesor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Asesora Legal', 'Asesor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Asist. Adm.', 'Asistente')
df_salarios['puesto'] = df_salarios['puesto'].replace('Asist. Edición De Videos', 'Asistente')
df_salarios['puesto'] = df_salarios['puesto'].replace('Asistente  Administrativa', 'Asistente')
df_salarios['puesto'] = df_salarios['puesto'].replace('Asistente 3', 'Asistente')
df_salarios['puesto'] = df_salarios['puesto'].replace('Asistente Adminis', 'Asistente')
df_salarios['puesto'] = df_salarios['puesto'].replace('Asistente Administ', 'Asistente')
df_salarios['puesto'] = df_salarios['puesto'].replace('Asistente Administrativa', 'Asistente')
df_salarios['puesto'] = df_salarios['puesto'].replace('Asistente Administrativo', 'Asistente')
df_salarios['puesto'] = df_salarios['puesto'].replace('Asistente Archivo', 'Asistente')
df_salarios['puesto'] = df_salarios['puesto'].replace('Asistente Bibliote', 'Asistente')
df_salarios['puesto'] = df_salarios['puesto'].replace('Asistente Bibliotec', 'Asistente')
df_salarios['puesto'] = df_salarios['puesto'].replace('Asistente Biblioteca', 'Asistente')
df_salarios['puesto'] = df_salarios['puesto'].replace('Asistente Contabl', 'Asistente')
df_salarios['puesto'] = df_salarios['puesto'].replace('Asistente Contable', 'Asistente')
df_salarios['puesto'] = df_salarios['puesto'].replace('Asistente De Archi', 'Asistente')
df_salarios['puesto'] = df_salarios['puesto'].replace('Asistente De Archivo', 'Asistente')
df_salarios['puesto'] = df_salarios['puesto'].replace('Asistente De Contr', 'Asistente')
df_salarios['puesto'] = df_salarios['puesto'].replace('Asistente De Control Previo', 'Asistente')
df_salarios['puesto'] = df_salarios['puesto'].replace('Asistente De Despacho', 'Asistente')
df_salarios['puesto'] = df_salarios['puesto'].replace('Asistente De Edició', 'Asistente')
df_salarios['puesto'] = df_salarios['puesto'].replace('Asistente De Edición De Vide', 'Asistente')
df_salarios['puesto'] = df_salarios['puesto'].replace('Asistente De Edición De Video', 'Asistente')
df_salarios['puesto'] = df_salarios['puesto'].replace('Asistente De Proc', 'Asistente')
df_salarios['puesto'] = df_salarios['puesto'].replace('Asistente De Procu', 'Asistente')
df_salarios['puesto'] = df_salarios['puesto'].replace('Asistente De Procuraduría', 'Asistente')
df_salarios['puesto'] = df_salarios['puesto'].replace('Asistente De Reda', 'Asistente')
df_salarios['puesto'] = df_salarios['puesto'].replace('Asistente De Redacción', 'Asistente')
df_salarios['puesto'] = df_salarios['puesto'].replace('Asistente De Segu', 'Asistente')
df_salarios['puesto'] = df_salarios['puesto'].replace('Asistente De Segur', 'Asistente')
df_salarios['puesto'] = df_salarios['puesto'].replace('Asistente De Servicios', 'Asistente')
df_salarios['puesto'] = df_salarios['puesto'].replace('Asistente De Terapista', 'Asistente')
df_salarios['puesto'] = df_salarios['puesto'].replace('Asistente De Topografo', 'Asistente')
df_salarios['puesto'] = df_salarios['puesto'].replace('Asistente Tecnico', 'Asistente')
df_salarios['puesto'] = df_salarios['puesto'].replace('Asistente Tecnico 1', 'Asistente')
df_salarios['puesto'] = df_salarios['puesto'].replace('Asistente Técnico', 'Asistente')
df_salarios['puesto'] = df_salarios['puesto'].replace('Asitente Administ', 'Asistente')
df_salarios['puesto'] = df_salarios['puesto'].replace('Asitente Administr', 'Asistente')
df_salarios['puesto'] = df_salarios['puesto'].replace('Atencion Al Usuari', 'Atención Al Usuario')
df_salarios['puesto'] = df_salarios['puesto'].replace('Atencion Al Usuario', 'Atención Al Usuario')
df_salarios['puesto'] = df_salarios['puesto'].replace('Atención Al Usuari', 'Atención Al Usuario')
df_salarios['puesto'] = df_salarios['puesto'].replace('Aux. De Electricidad', 'Auxiliar')
df_salarios['puesto'] = df_salarios['puesto'].replace('Aux. De Servicios', 'Auxiliar')
df_salarios['puesto'] = df_salarios['puesto'].replace('Auxiliar Administr', 'Auxiliar')
df_salarios['puesto'] = df_salarios['puesto'].replace('Auxiliar  De Servicios', 'Auxiliar')
df_salarios['puesto'] = df_salarios['puesto'].replace('Auxiliar Administra', 'Auxiliar')
df_salarios['puesto'] = df_salarios['puesto'].replace('Auxiliar Administrativo', 'Auxiliar')
df_salarios['puesto'] = df_salarios['puesto'].replace('Auxiliar Contab', 'Auxiliar')
df_salarios['puesto'] = df_salarios['puesto'].replace('Auxiliar Contable', 'Auxiliar')
df_salarios['puesto'] = df_salarios['puesto'].replace('Auxiliar De Adquis', 'Auxiliar')
df_salarios['puesto'] = df_salarios['puesto'].replace('Auxiliar De Adquisi', 'Auxiliar')
df_salarios['puesto'] = df_salarios['puesto'].replace('Auxiliar De Adquisiciones', 'Auxiliar')
df_salarios['puesto'] = df_salarios['puesto'].replace('Auxiliar De Archivo', 'Auxiliar')
df_salarios['puesto'] = df_salarios['puesto'].replace('Auxiliar De Aseo', 'Auxiliar')
df_salarios['puesto'] = df_salarios['puesto'].replace('Auxiliar De Bibliot', 'Auxiliar')
df_salarios['puesto'] = df_salarios['puesto'].replace('Auxiliar De Bibliote', 'Auxiliar')
df_salarios['puesto'] = df_salarios['puesto'].replace('Auxiliar De Biblioteca', 'Auxiliar')
df_salarios['puesto'] = df_salarios['puesto'].replace('Auxiliar De Campo', 'Auxiliar')
df_salarios['puesto'] = df_salarios['puesto'].replace('Auxiliar De Electricidad', 'Auxiliar')
df_salarios['puesto'] = df_salarios['puesto'].replace('Auxiliar De Enferm', 'Auxiliar')
df_salarios['puesto'] = df_salarios['puesto'].replace('Auxiliar De Mantenimiento', 'Auxiliar')
df_salarios['puesto'] = df_salarios['puesto'].replace('Auxiliar De Mensajeria', 'Auxiliar')
df_salarios['puesto'] = df_salarios['puesto'].replace('Auxiliar De Servici', 'Auxiliar')
df_salarios['puesto'] = df_salarios['puesto'].replace('Auxiliar De Servicio', 'Auxiliar')
df_salarios['puesto'] = df_salarios['puesto'].replace('Auxiliar De Servicios', 'Auxiliar')
df_salarios['puesto'] = df_salarios['puesto'].replace('Auxiliar De Supervisión', 'Auxiliar')
df_salarios['puesto'] = df_salarios['puesto'].replace('Auxiliar De Talleres', 'Auxiliar')
df_salarios['puesto'] = df_salarios['puesto'].replace('Auxiliar Medico', 'Auxiliar')
df_salarios['puesto'] = df_salarios['puesto'].replace('Auxliar', 'Auxiliar')
df_salarios['puesto'] = df_salarios['puesto'].replace('Aux. Serv. Municipales', 'Auxiliar')
df_salarios['puesto'] = df_salarios['puesto'].replace('Aux.Serv.Munic.', 'Auxiliar')
df_salarios['puesto'] = df_salarios['puesto'].replace('Ayud. De Albañil', 'Ayudante')
df_salarios['puesto'] = df_salarios['puesto'].replace('Ayud. De Soldador', 'Ayudante')
df_salarios['puesto'] = df_salarios['puesto'].replace('Ayud. De Tanquer', 'Ayudante')
df_salarios['puesto'] = df_salarios['puesto'].replace('Ayud. De Tanquero', 'Ayudante')
df_salarios['puesto'] = df_salarios['puesto'].replace('Ayudante De Mecanica', 'Ayudante')
df_salarios['puesto'] = df_salarios['puesto'].replace('Ayudante De Tanq ', 'Ayudante')
df_salarios['puesto'] = df_salarios['puesto'].replace('Ayudante De Topografo', 'Ayudante')
df_salarios['puesto'] = df_salarios['puesto'].replace('Ayudante De Tanq', 'Ayudante')
df_salarios['puesto'] = df_salarios['puesto'].replace('Cajera', 'Cajero')
df_salarios['puesto'] = df_salarios['puesto'].replace('Chofer', 'Conductor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Chofer - Maquinaria Pesada', 'Conductor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Chofer De Tanque', 'Conductor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Chofer De Tanquer', 'Conductor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Chofer De Tanquero', 'Conductor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Chofer Electricistas', 'Conductor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Chofer Tanquero', 'Conductor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Chofer-Maquinaria Pesada', 'Conductor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Conductor De Bobcat', 'Conductor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Conductor De Maq', 'Conductor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Conductor De Maquinaria P', 'Conductor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Conductor De Maquinaria Pesada', 'Conductor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Conductor De Vehi', 'Conductor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Conductor De Vehiculo Pesa', 'Conductor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Conductor De Volq', 'Conductor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Conductor De Volqueta', 'Conductor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Conductor De Veh', 'Conductor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Concejales', 'Concejal')
df_salarios['puesto'] = df_salarios['puesto'].replace('Coordinación De D', 'Coordinador')
df_salarios['puesto'] = df_salarios['puesto'].replace('Coordinación De Despacho', 'Coordinador')
df_salarios['puesto'] = df_salarios['puesto'].replace('Coordinador De D', 'Coordinador')
df_salarios['puesto'] = df_salarios['puesto'].replace('Coordinador De De', 'Coordinador')
df_salarios['puesto'] = df_salarios['puesto'].replace('Coordinador De Delegado', 'Coordinador')
df_salarios['puesto'] = df_salarios['puesto'].replace('Coordinador Gene', 'Coordinador')
df_salarios['puesto'] = df_salarios['puesto'].replace('Coordinador General', 'Coordinador')
df_salarios['puesto'] = df_salarios['puesto'].replace('Coordinadora De D', 'Coordinador')
df_salarios['puesto'] = df_salarios['puesto'].replace('Coordinadora De Despacho', 'Coordinador')
df_salarios['puesto'] = df_salarios['puesto'].replace('Custodia De Archi', 'Custodio')
df_salarios['puesto'] = df_salarios['puesto'].replace('Custodia De Archiv', 'Custodio')
df_salarios['puesto'] = df_salarios['puesto'].replace('Custodia De Archivo', 'Custodio')
df_salarios['puesto'] = df_salarios['puesto'].replace('Custodio De Alcald', 'Custodio')
df_salarios['puesto'] = df_salarios['puesto'].replace('Delegada', 'Delegado')
df_salarios['puesto'] = df_salarios['puesto'].replace('Desapachador De Materiales', 'Despachador De Materiales')
df_salarios['puesto'] = df_salarios['puesto'].replace('Despachador De M', 'Despachador De Materiales')
df_salarios['puesto'] = df_salarios['puesto'].replace('Director ( E)', 'Director')
df_salarios['puesto'] = df_salarios['puesto'].replace('Director General', 'Director')
df_salarios['puesto'] = df_salarios['puesto'].replace('Director General (', 'Director')
df_salarios['puesto'] = df_salarios['puesto'].replace('Director General ( E )', 'Director')
df_salarios['puesto'] = df_salarios['puesto'].replace('Director General ( E)', 'Director')
df_salarios['puesto'] = df_salarios['puesto'].replace('Directora', 'Director')
df_salarios['puesto'] = df_salarios['puesto'].replace('Doctora', 'Doctor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Electrecista', 'Electricista')
df_salarios['puesto'] = df_salarios['puesto'].replace('Encargada Del Are', 'Encargada Del Area')
df_salarios['puesto'] = df_salarios['puesto'].replace('Encargada Del Area Del Gis', 'Encargada Del Area')
df_salarios['puesto'] = df_salarios['puesto'].replace('Facilitador De Ate', 'Facilitador')
df_salarios['puesto'] = df_salarios['puesto'].replace('Facilitador De Aten', 'Facilitador')
df_salarios['puesto'] = df_salarios['puesto'].replace('Facilitador Recrea', 'Facilitador')
df_salarios['puesto'] = df_salarios['puesto'].replace('Facilitador Recreac', 'Facilitador')
df_salarios['puesto'] = df_salarios['puesto'].replace('Facilitadores De At', 'Facilitador')
df_salarios['puesto'] = df_salarios['puesto'].replace('Facilitadores De Atención Pr', 'Facilitador')
df_salarios['puesto'] = df_salarios['puesto'].replace('Facilitadores De Atención Prioritaria', 'Facilitador')
df_salarios['puesto'] = df_salarios['puesto'].replace('Fiscalizador De Ob', 'Fiscalizador')
df_salarios['puesto'] = df_salarios['puesto'].replace('Fizcalizador', 'Fiscalizador')
df_salarios['puesto'] = df_salarios['puesto'].replace('Gestor Cultural', 'Gestor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Gestor De Atenció', 'Gestor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Gestor De Cultura', 'Gestor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Gestora De Atenci', 'Gestor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Gestora De Atención Priorita', 'Gestor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Gestora De Atención Prioritaria', 'Gestor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Guardian Sindicali', 'Guardian Sindicalizado')
df_salarios['puesto'] = df_salarios['puesto'].replace('Inspector  Soldador', 'Inspector')
df_salarios['puesto'] = df_salarios['puesto'].replace('Inspector De Higie', 'Inspector')
df_salarios['puesto'] = df_salarios['puesto'].replace('Inspector De Higiene Y Aseo', 'Inspector')
df_salarios['puesto'] = df_salarios['puesto'].replace('Inspector De Rentas', 'Inspector')
df_salarios['puesto'] = df_salarios['puesto'].replace('Jefa', 'Jefe')
df_salarios['puesto'] = df_salarios['puesto'].replace('Jefe Aseo De Calle', 'Jefe')
df_salarios['puesto'] = df_salarios['puesto'].replace('Jefe Aseo De Calles', 'Jefe')
df_salarios['puesto'] = df_salarios['puesto'].replace('Jefe De Adquisicio', 'Jefe')
df_salarios['puesto'] = df_salarios['puesto'].replace('Jefe De Agente De', 'Jefe')
df_salarios['puesto'] = df_salarios['puesto'].replace('Jefe De Agentes De', 'Jefe')
df_salarios['puesto'] = df_salarios['puesto'].replace('Jefe De Alcantarillado', 'Jefe')
df_salarios['puesto'] = df_salarios['puesto'].replace('Jefe De Aseo Cant', 'Jefe')
df_salarios['puesto'] = df_salarios['puesto'].replace('Jefe De Aseo Canto', 'Jefe')
df_salarios['puesto'] = df_salarios['puesto'].replace('Jefe De Base De Da', 'Jefe')
df_salarios['puesto'] = df_salarios['puesto'].replace('Jefe De Cau', 'Jefe')
df_salarios['puesto'] = df_salarios['puesto'].replace('Jefe De Contabilidad Contador', 'Jefe')
df_salarios['puesto'] = df_salarios['puesto'].replace('Jefe De Contabilidad/Contador', 'Jefe')
df_salarios['puesto'] = df_salarios['puesto'].replace('Jefe De Delegados', 'Jefe')
df_salarios['puesto'] = df_salarios['puesto'].replace('Jefe De Desarrollo', 'Jefe')
df_salarios['puesto'] = df_salarios['puesto'].replace('Jefe De Fiscalización', 'Jefe')
df_salarios['puesto'] = df_salarios['puesto'].replace('Jefe De Fiscalizado', 'Jefe')
df_salarios['puesto'] = df_salarios['puesto'].replace('Jefe De Gestión Int', 'Jefe')
df_salarios['puesto'] = df_salarios['puesto'].replace('Jefe De Mantenim', 'Jefe')
df_salarios['puesto'] = df_salarios['puesto'].replace('Jefe De Mantenimi', 'Jefe')
df_salarios['puesto'] = df_salarios['puesto'].replace('Jefe De Policia Mu', 'Jefe')
df_salarios['puesto'] = df_salarios['puesto'].replace('Jefe De Prensa', 'Jefe')
df_salarios['puesto'] = df_salarios['puesto'].replace('Jefe De Proyectos', 'Jefe')
df_salarios['puesto'] = df_salarios['puesto'].replace('Jefe De Rentas ( E)', 'Jefe')
df_salarios['puesto'] = df_salarios['puesto'].replace('Jefe De Seguridad', 'Jefe')
df_salarios['puesto'] = df_salarios['puesto'].replace('Jefe De Topografia', 'Jefe')
df_salarios['puesto'] = df_salarios['puesto'].replace('Jefe Fiscalizadores', 'Jefe')
df_salarios['puesto'] = df_salarios['puesto'].replace('Jefe Mantenimiento', 'Jefe')
df_salarios['puesto'] = df_salarios['puesto'].replace('Juez ( E)', 'Juez')
df_salarios['puesto'] = df_salarios['puesto'].replace('Juez Primero', 'Juez')
df_salarios['puesto'] = df_salarios['puesto'].replace('Mecanico Automo', 'Mecanico')
df_salarios['puesto'] = df_salarios['puesto'].replace('Mecanico Automotriz', 'Mecanico')
df_salarios['puesto'] = df_salarios['puesto'].replace('Mecanico- Equipo', 'Mecanico')
df_salarios['puesto'] = df_salarios['puesto'].replace('Mecanico- Equipo Pesado', 'Mecanico')
df_salarios['puesto'] = df_salarios['puesto'].replace('Medico Veterinari', 'Medico Veterinario')
df_salarios['puesto'] = df_salarios['puesto'].replace('Médico Ocupacional', 'Medico')
df_salarios['puesto'] = df_salarios['puesto'].replace('Miembro Principa', 'Miembro Principal')
df_salarios['puesto'] = df_salarios['puesto'].replace('Obrera', 'Obrero')
df_salarios['puesto'] = df_salarios['puesto'].replace('Oper.Retroexcava', 'Operador')
df_salarios['puesto'] = df_salarios['puesto'].replace('Oper.Retroexcavad', 'Operador')
df_salarios['puesto'] = df_salarios['puesto'].replace('Oper.Retroexcavadora', 'Operador')
df_salarios['puesto'] = df_salarios['puesto'].replace('Operador De Maq', 'Operador')
df_salarios['puesto'] = df_salarios['puesto'].replace('Operador De Maqu', 'Operador')
df_salarios['puesto'] = df_salarios['puesto'].replace('Operador De Maquinaria', 'Operador')
df_salarios['puesto'] = df_salarios['puesto'].replace('Operador De Maquinaria Pe', 'Operador')
df_salarios['puesto'] = df_salarios['puesto'].replace('Operador De Maquinaria Pesada', 'Operador')
df_salarios['puesto'] = df_salarios['puesto'].replace('Operador De Re', 'Operador')
df_salarios['puesto'] = df_salarios['puesto'].replace('Operador De Ret', 'Operador')
df_salarios['puesto'] = df_salarios['puesto'].replace('Operador De Retr', 'Operador')
df_salarios['puesto'] = df_salarios['puesto'].replace('Operador De Retro', 'Operador')
df_salarios['puesto'] = df_salarios['puesto'].replace('Operador De Retroexca', 'Operador')
df_salarios['puesto'] = df_salarios['puesto'].replace('Operador De Retroexcabadora', 'Operador')
df_salarios['puesto'] = df_salarios['puesto'].replace('Operador De Retroexcavado', 'Operador')
df_salarios['puesto'] = df_salarios['puesto'].replace('Operador De Retroexcavadora', 'Operador')
df_salarios['puesto'] = df_salarios['puesto'].replace('Operador De Vehi', 'Operador')
df_salarios['puesto'] = df_salarios['puesto'].replace('Operador De Vehic', 'Operador')
df_salarios['puesto'] = df_salarios['puesto'].replace('Operador Maquina Exca', 'Operador')
df_salarios['puesto'] = df_salarios['puesto'].replace('Operador Maquina Excavadora', 'Operador')
df_salarios['puesto'] = df_salarios['puesto'].replace('Operador Maquinaria', 'Operador')
df_salarios['puesto'] = df_salarios['puesto'].replace('Operador Retroexcavad', 'Operador')
df_salarios['puesto'] = df_salarios['puesto'].replace('Operador Rodillo', 'Operador')
df_salarios['puesto'] = df_salarios['puesto'].replace('Operador Retroexcavadora', 'Operador')
df_salarios['puesto'] = df_salarios['puesto'].replace('Policia Municip', 'Policia Municipal')
df_salarios['puesto'] = df_salarios['puesto'].replace('Policia Municipa', 'Policia Municipal')
df_salarios['puesto'] = df_salarios['puesto'].replace('Procurador Sindic', 'Procurador Sindico')
df_salarios['puesto'] = df_salarios['puesto'].replace('Promotora Social', 'Promotor Social')
df_salarios['puesto'] = df_salarios['puesto'].replace('Pro-Secretaria', 'Prosecretario')
df_salarios['puesto'] = df_salarios['puesto'].replace('Prosecretaria', 'Prosecretario')
df_salarios['puesto'] = df_salarios['puesto'].replace('Recibidor De Mate', 'Recibidor De Materiales')
df_salarios['puesto'] = df_salarios['puesto'].replace('Responsable De Bienes', 'Responsable')
df_salarios['puesto'] = df_salarios['puesto'].replace('Responsable De Deporte Y Recreación', 'Responsable')
df_salarios['puesto'] = df_salarios['puesto'].replace('Responsable De Eq', 'Responsable')
df_salarios['puesto'] = df_salarios['puesto'].replace('Responsable De Lo', 'Responsable')
df_salarios['puesto'] = df_salarios['puesto'].replace('Responsable De Nomina', 'Responsable')
df_salarios['puesto'] = df_salarios['puesto'].replace('Responsable De Parque Automotor', 'Responsable')
df_salarios['puesto'] = df_salarios['puesto'].replace('Responsable De To', 'Responsable')
df_salarios['puesto'] = df_salarios['puesto'].replace('Responsable De Topografia', 'Responsable')
df_salarios['puesto'] = df_salarios['puesto'].replace('Responsable Del Proceso De Legalización', 'Responsable')
df_salarios['puesto'] = df_salarios['puesto'].replace('Secretaria', 'Secretario')
df_salarios['puesto'] = df_salarios['puesto'].replace('Secretaria De Despacho', 'Secretario')
df_salarios['puesto'] = df_salarios['puesto'].replace('Secretario De Com', 'Secretario')
df_salarios['puesto'] = df_salarios['puesto'].replace('Secretario De Comisaria', 'Secretario')
df_salarios['puesto'] = df_salarios['puesto'].replace('Secretario De Reso', 'Secretario')
df_salarios['puesto'] = df_salarios['puesto'].replace('Secretario De Resoluciones', 'Secretario')
df_salarios['puesto'] = df_salarios['puesto'].replace('Secretario Ejecutivo Del Consejo De Seg', 'Secretario')
df_salarios['puesto'] = df_salarios['puesto'].replace('Secretario Genera', 'Secretario')
df_salarios['puesto'] = df_salarios['puesto'].replace('Secretario General', 'Secretario')
df_salarios['puesto'] = df_salarios['puesto'].replace('Servicios Generale', 'Servicios Generales')
df_salarios['puesto'] = df_salarios['puesto'].replace('Subprocurador Sin', 'Subprocurador')
df_salarios['puesto'] = df_salarios['puesto'].replace('Supervisor De Area', 'Supervisor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Supervisor De Aseo De Calle', 'Supervisor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Supervisor De Caja', 'Supervisor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Supervisor De Cam', 'Supervisor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Supervisor De Campo', 'Supervisor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Supervisor De Cantera', 'Supervisor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Supervisor De Cus', 'Supervisor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Supervisor De Cust', 'Supervisor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Supervisor De Custodio Mun', 'Supervisor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Supervisor De Custodio Municipal', 'Supervisor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Supervisor De Del', 'Supervisor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Supervisor De Dele', 'Supervisor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Supervisor De Delg', 'Supervisor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Supervisor De Delgados', 'Supervisor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Supervisor De Jardineria', 'Supervisor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Supervisor De Mercados', 'Supervisor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Supervisor De Policia Munici', 'Supervisor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Supervisor De Policia Municipal', 'Supervisor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Supervisor De Soldadores', 'Supervisor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Supervisor De Tall', 'Supervisor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Supervisor De Reh', 'Supervisor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Supervisor De Talle', 'Supervisor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Supervisor Electrico', 'Supervisor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Supervisor Equipo Caminero', 'Supervisor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Supervisor Genera', 'Supervisor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Supervisor Grupo', 'Supervisor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Supervisor Grupo Noche', 'Supervisor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Supervisor Mun', 'Supervisor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Supervisor Munici', 'Supervisor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Supervisor Municipal', 'Supervisor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Supervisor Policia', 'Supervisor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Supervisor Policia Municipal', 'Supervisor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Supervisor Tecnico', 'Supervisor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Supervisora', 'Supervisor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Supervisora De Ca', 'Supervisor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Supervisora De Caj', 'Supervisor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Supervisora De Caja', 'Supervisor')
df_salarios['puesto'] = df_salarios['puesto'].replace('Tecnica De Promocion Y Marketing', 'Técnico')
df_salarios['puesto'] = df_salarios['puesto'].replace('Tecnica De Promoción Y Marketing', 'Técnico')
df_salarios['puesto'] = df_salarios['puesto'].replace('Tecnico', 'Técnico')
df_salarios['puesto'] = df_salarios['puesto'].replace('Tecnico  De Inspecciones', 'Técnico')
df_salarios['puesto'] = df_salarios['puesto'].replace('Tecnico  De Regulación Y Control', 'Técnico')
df_salarios['puesto'] = df_salarios['puesto'].replace('Tecnico De Avaluo', 'Técnico')
df_salarios['puesto'] = df_salarios['puesto'].replace('Tecnico De Imagen', 'Técnico')
df_salarios['puesto'] = df_salarios['puesto'].replace('Tecnico De Imagen Institucio', 'Técnico')
df_salarios['puesto'] = df_salarios['puesto'].replace('Tecnico De Imagen Institucional', 'Técnico')
df_salarios['puesto'] = df_salarios['puesto'].replace('Tecnico De Regulación Y Control', 'Técnico')
df_salarios['puesto'] = df_salarios['puesto'].replace('Tecnico De Soport', 'Técnico')
df_salarios['puesto'] = df_salarios['puesto'].replace('Tecnico De Soporte', 'Técnico')
df_salarios['puesto'] = df_salarios['puesto'].replace('Tecnico Deportivo', 'Técnico')
df_salarios['puesto'] = df_salarios['puesto'].replace('Tecnico En Image', 'Técnico')
df_salarios['puesto'] = df_salarios['puesto'].replace('Tecnico En Imagen', 'Técnico')
df_salarios['puesto'] = df_salarios['puesto'].replace('Tecnico En Relaciones Públicas', 'Técnico')
df_salarios['puesto'] = df_salarios['puesto'].replace('Tecnico En Sistem', 'Técnico')
df_salarios['puesto'] = df_salarios['puesto'].replace('Tenico', 'Técnico')
df_salarios['puesto'] = df_salarios['puesto'].replace('Técnica', 'Técnico')
df_salarios['puesto'] = df_salarios['puesto'].replace('Técnico De Digitali', 'Técnico')
df_salarios['puesto'] = df_salarios['puesto'].replace('Técnico De Legaliz', 'Técnico')
df_salarios['puesto'] = df_salarios['puesto'].replace('Técnico De Legaliza', 'Técnico')
df_salarios['puesto'] = df_salarios['puesto'].replace('Técnico De Legalización', 'Técnico')
df_salarios['puesto'] = df_salarios['puesto'].replace('Técnico Digitalizad', 'Técnico')
df_salarios['puesto'] = df_salarios['puesto'].replace('Técnico Digitalizador', 'Técnico')
df_salarios['puesto'] = df_salarios['puesto'].replace('Técnico En Sistem', 'Técnico')
df_salarios['puesto'] = df_salarios['puesto'].replace('Técnico En Sistemas Inform', 'Técnico')
df_salarios['puesto'] = df_salarios['puesto'].replace('Técnico En Sistemas Informaticos', 'Técnico')
df_salarios['puesto'] = df_salarios['puesto'].replace('Topografo', 'Topógrafo')
df_salarios['puesto'] = df_salarios['puesto'].replace('Topográfo', 'Topógrafo')
df_salarios['puesto'] = df_salarios['puesto'].replace('Topográfo 2', 'Topógrafo')
df_salarios['puesto'] = df_salarios['puesto'].replace('Topógrafo 2', 'Topógrafo')
df_salarios['puesto'] = df_salarios['puesto'].replace('Topógrafo 3', 'Topógrafo')
df_salarios['puesto'] = df_salarios['puesto'].replace('Trabajadora  Social', 'Trabajador Social')
df_salarios['puesto'] = df_salarios['puesto'].replace('Trabajadora Socia', 'Trabajador Social')
df_salarios['puesto'] = df_salarios['puesto'].replace('Trabajadora Social', 'Trabajador Social')
df_salarios['puesto'] = df_salarios['puesto'].replace('Terapista De Equin', 'Terapista Hipoterapia')
df_salarios['puesto'] = df_salarios['puesto'].replace('Terapista Hipotera', 'Terapista Hipoterapia')
df_salarios['puesto'] = df_salarios['puesto'].replace('Veterinaria', 'Medico Veterinario')
df_salarios['puesto'] = df_salarios['puesto'].replace('Veterinario', 'Medico Veterinario')

In [245]:
df_salarios[df_salarios['puesto'].str.startswith('A')]['puesto'].value_counts().sort_index().head(60)

Abogado                           280
Administrador                     608
Agente De Control               12529
Albañil                           581
Alcalde                            85
Analista                         9102
Apoyo De Supervisor De Obras        9
Aseador De Calles                8333
Asesor                            227
Asistente                        8619
Atención Al Usuario               418
Auxiliar                         7593
Ayudante                          180
Name: puesto, dtype: int64

## Un poco de análisis...

### ¿Cuál es el promedio de salarios mensuales?

In [246]:
print(f'El promedio de salario mensual es: {df_salarios["salario_mensual"].mean():.2f}')

El promedio de salario mensual es: 775.06

### ¿Cuál es la cantidad más alta de salario mensual en el conjunto de datos?

In [247]:
print(f'El salario mensual más alto es: {df_salarios["salario_mensual"].max():.2f}')

El salario mensual más alto es: 6122.00

### ¿Cúal es la cantidad más baja de salario mensual?

In [253]:
print(f'El salario mensual más alto es: {df_salarios["salario_mensual"].min():.2f}')

El salario mensual más alto es: 400.00

### ¿Cómo se llama el actual Alcalde?

In [248]:
print(df_salarios[(df_salarios['puesto'] == 'Alcalde') & (df_salarios['anio'] == df_salarios['anio'].max())]['nombre'].values[0])

Narvaez Mendieta Dalton Rafael

### ¿Cuál es el promedio por año de sueldos mensuales?

In [249]:
df_salarios.groupby('anio').mean()['salario_mensual']

anio
2015    800.151675
2016    810.416227
2017    763.836716
2018    768.787479
2019    751.470934
2020    768.877898
2021    777.038716
2022    769.811743
Name: salario_mensual, dtype: float64

### ¿Cuántos puestos de trabajos únicos hay?

In [250]:
df_salarios['puesto'].nunique()

79

### ¿Cuáles son los 10 trabajos más comunes?

In [251]:
df_salarios['puesto'].value_counts().sort_values(ascending=False).head(10)

Agente De Control    12529
Analista              9102
Asistente             8619
Aseador De Calles     8333
Auxiliar              7593
Policia Municipal     5484
Conductor             4263
Jefe                  2697
Técnico               2625
Supervisor            2160
Name: puesto, dtype: int64

### ¿Cuál es el gasto por año en sueldos?

In [252]:
df_salarios.groupby('anio')['salario_mensual'].sum()

anio
2015     8047925.55
2016     7969633.18
2017     8997996.51
2018     9637519.84
2019    10126822.30
2020    11559310.32
2021    10801615.19
2022      869887.27
Name: salario_mensual, dtype: float64

In [255]:
df_salarios.to_excel("./salarios.xlsx")